* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98%;
    padding: 10px 20px;
    background-color: #fff;
}

nav h1 {
    font-size:3rem;
    font-weight:600;
    color: #004d00;
}

nav h1 span {
    font-size: 1rem;
    vertical-align: super;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size:140%;
    padding: 5px 10px;
}

.links a:hover {
   color: #199119;
}

.contrat {
    display: flex;
    background-color: #356238;
    padding:6px 10px;
    border-radius: 30px;
    text-decoration: none;
    text-transform: lowercase;
    align-self: center;
}

.contrat a {
    color: #fff;
}
.contrat a:hover {
    color: #91d68e;
}


section p {
    margin-bottom: 10px;
}

#inicio {
    display: flex;
    align-items: center;
    background-color: #739C75;
    background-size: cover;
    color:white;
    justify-content: space-between;
    gap: 140px;
    padding-top: 150px;
    padding-left: 70px;
}

#inicio p {
    font-size: 2.8rem;
    font-weight: 500;
}

#inicio img {
    height: 550px;
    padding-right: 50px;
}

#sobre {
    background-color: #fff;
    padding: 150px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.fabric {
    width: 35%;
    object-fit: cover;
    border-radius: 20px
}

.symbol {
    height: 200px;
    padding-left: 100px;
}

#sobre p {
    max-width: 800px;
    font-size: 1.7rem;
    padding-right: 30px;
}

#sobre h2 {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 50px;
}


#reciclagem {
    background-color: #E9E9E9;
    padding: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 20px;
}
#reciclagem img {
    width: 300px;
    height: 1100px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:5;
    border-radius: 20px;

}

#reciclagem p {
    max-width: 800px;
    font-size: 1.7rem;
    padding-right: 30px;
}

#reciclagem h2 {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 50px;

}

#reciclagem h3 {
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 50px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:2;
}

.item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:3;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end:4;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end:5;
}


#produtos {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

#produtos h2 {
    font-size: 3rem;
    font-weight: 800;
}

#produtos p {
    max-width: 900px;
    text-align: center;
    font-size: 1.7rem;
    padding-right: 30px;
}

#produtos img {
    border-radius: 50%;
    width: 350px;
    aspect-ratio: 1/1;
    padding: 50px;
}

#contrato {
    background-color: #E9E9E9;
    padding: 150px;
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
   
}
#contrato img {
    width: 350px;
    height: 800px;
    object-fit: cover;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:4;
    border-radius: 20px;
   
}

#contrato p {
    max-width:850px;
    font-size: 1.7rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:2;
    text-align: center;
}

#contrato h2 {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:1;
    text-align: center;

}

.botao {
    padding-bottom: 50px;
    grid-column: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:4;
    text-align: center;
}

section a {
    font-size: 2.5rem;
    padding:15px 30px;
    background-color: #d00000;
    color: #fff;
    text-decoration:none;
    font-weight: 600;
    border-radius: 50px;
}

section a:hover {
    background-color: #ff5c5c;
}

/* Rodapé */
footer {
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
    display: grid;
    background-color: #B1B1B1;
    color: #004605;
    font-weight: 600;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    font-size: 1.5rem;
    justify-content: space-between;
}

footer img {
    height: 30px;
}

footer h3 {
    padding-bottom: 50px;
    font-size:3rem;
    font-weight:600;
    color: #005200;
}

footer h4 {
    align-self: center;
}

footer a {
    display: ;
    text-decoration: none;
    color: #121863;
}

footer ul {
    list-style: none;
}

footer li {
    padding: 5px;
}

footer a:hover {
    color: #3c3e53
}